.repo-container {
    display: block;
    width: 75%;
    margin: auto 15%;
    height: 150px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card h3 {
    font-family: 'Rubik', serif;
}

.card a, .card h4, .card p {
    font-family: 'Noto Serif', serif;
}
.card-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.title-container {
    display: flex;
    justify-content: space-between;
}

.title-icon,
.title-icon:hover {
    color: blue;
    align-self: center;
}

.title-icon:hover {
    color: turquoise;
    cursor: pointer;
}


@media only screen and (min-width: 600px) {
    .repo-container {
        display: block;
        width: 15%;
        margin-left: 3%;
    }
}