.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#container input {
    border-color: black;
}

.container h2 {
    font-weight: 800;
    font-size: 24px;
    font-family: 'Rubik', sans-serif
}


.container #error {
    color: red;
    font-size: 24px;
    font-family: 'Rubik', sans-serif;
    margin-top: 12px;
}

.container ul li {
    list-style: none;
    font-family: 'Noto Serif', serif;
}

.container #next {
    color: blue;
    margin: 25px auto;
    font-size: 24px;
    font-weight: 800;
}

.container #next:hover, .container #next:active {
    color: turquoise;
    cursor: pointer;
}

.container input {
    padding: 2px 4px;
    margin-top: 4px;
    font-size: 16px;
    border: 1px black solid;
    font-family: 'Noto Serif', serif;
}

.container label {
    font-size: 16px;
    font-family: 'Noto Serif', serif;
}

.hide-next {
    display: none;
}

.list-container {
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%
}

.spin {
    animation: spin 2s infinite linear;
    margin: 10px auto;
    font-size: 25px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@media only screen and (min-width: 600px) {
    .container h2 {
        font-size: 32px;
    }

    .container label {
        font-size: 24px;
    }

    .container input {
        padding: 2px 8px 4px 8px;
        margin-top: 8px;
        font-size: 24px;
        border: 2px black solid;
    }

    .list-container {
        margin-top: 8px;
        margin-left: 3%;
    }

    .spin {
    margin: 20px auto;
    font-size: 50px;
    }
}